<!doctype html>
<html lang="en">

<head>
    <title>Sidebar 01</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="select/css/style.css">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo rounded-circle mb-5" style="background-image: url(images/logo.png);"></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="Add_Battery">Add New Battery</a>

                        <a href="View_Battery_Details">View Battery Details</a>

                        <a href="Add_New_Station">Add New Station</a>

                        <a href="View_Station_Details">View Station Details</a>

                        <a href="Add_New_User">Add New User</a>

                        <a href="View_User_Details">View User Details</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <h1><b><i>&nbsp;&nbsp;Swapping Station</i></b></h1>
                        <ul class="nav navbar-nav ml-auto">

                        </ul>
                    </div>
                     <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a href="/">Logout</a>
                </li>
              </ul>
            </div>
                </div>
            </nav>

            <h2 class="mb-4">Add New Station</h2>

            <div class="inner">
                <div class="image-holder">
                    <img src="images/battery.png" alt="">
                </div>
            </div>
            <form action="/Add_Station" method="POST">


                <div class="form-group">
                    <input type="text" name="stnId" placeholder="Station ID" class="form-control">
                    <input type="text" name="stnNm" placeholder="Station Name" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" name="stnAdd" placeholder="Station Address" class="form-control">
                    <input type="text" name="licDets" placeholder="License Details" class="form-control">
                </div>

                <button class="btn btn-success">ADD</button>
                
               
            </form>
        </div>
        <script src="select/js/jquery.min.js"></script>
        <script src="select/js/popper.js"></script>
        <script src="select/js/bootstrap.min.js"></script>
        <script src="select/js/main.js"></script>
</body>

</html>
